body {
    font-family: Arial, sans-serif;
    background-color: #ffdbfa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
}

.top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid #242424;
    margin-bottom: 20px;
}

.top-section h1 {
    color: #753f5e;
    font-size: 2.5em;
    margin-bottom: 5px;
}

.top-section .title {
    text-align: center;
    font-style: italic;
    color: #332446;
    font-size: 1.2em;
    margin-bottom: 15px;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons a {
    color: #555;
    font-size: 1.5em;
    text-decoration: none;
}

.social-icons a:hover {
    color: #0073b1;
}

.main-content {
    padding: 25px;
}

.main-content h2 {
    color: #444;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

.main-content ul {
    list-style-type: disc;
    margin-left: 20px;
}

.main-content a {
    color: #0073b1;
    text-decoration: none;
}

.main-content a:hover {
    text-decoration: underline;
}

.uni-logo {
    margin-top: 10px;
    width: 120px;
    display: block;
}
